@font-face {
  font-family: "DxGlitar";
  src: url("../Assests/DxGlitar-free-font.ttf") format("truetype");
}

@font-face {
  font-family: "Harmond";
  src: url("../Assests/Harmond-SemiBoldCondensed.otf");
}

@font-face {
  font-family: "NeneMentana";
  src: url("../Assests/NeueMetana-Bold.otf");
}

@font-face {
  font-family: "Obrazec";
  src: url("../Assests/Obrazec-2.ttf");
}

.one {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.two {
  font-family: "Harmond";
}

.three {
  font-family: "DxGlitar";
}
.four {
  font-family: "NeneMentana";
}

.five {
  font-family: "Obrazec";
}
