.font-space-div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  width: 100vw;
  height: 30vh;
}

@font-face {
  font-family: "DxGlitar";
  src: url("../Assests/DxGlitar-free-font.ttf") format("truetype");
}

@font-face {
  font-family: "Harmond";
  src: url("../Assests/Harmond-SemiBoldCondensed.otf");
}

@font-face {
  font-family: "NeneMentana";
  src: url("../Assests/NeueMetana-Bold.otf");
}

@font-face {
  font-family: "Obrazec";
  letter-spacing: 0.1cap;
  src: url("../Assests/Obrazec-2.ttf");
}

.one {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.two {
  font-family: "Harmond";
}

.three {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 150px;
}
.four {
  font-family: "NeneMentana";
  font-size: 80px;
}

.five {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: lighter;
  font-size: 150px;
}

.six {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  font-size: 150px;
}

/* .font-space-div {
  font-size: 100px;
  margin: 10px;
  width: auto;
} */
h1 {
  margin: 0;
  position: fixed;
  text-align: center;
}

.button-div {
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  flex-direction: row;
  gap: 40px;
  position: fixed;
  margin-top: 50px;
  bottom: 0;
  margin-bottom: 160px;
}

button {
  margin: 10px;
  width: auto;
  height: 80px;
  font-size: 30px;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(255, 254, 250);
  color: red;
  border-color: red;
  border-style: solid;
  transition: transfrom ease-in-out all 0.3s;
  transform: scaleX(O);
  transform-origin: left;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

:root {
  --accent-color: red;
}

button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: var(--accent-color);

  transition: transform 200ms ease-in-out;
  transform: scaleX(0);
  transform-origin: right;
}

button:hover::before {
  transform: scaleX(1);
}

button {
  transition: color 300ms ease-in-out;
  z-index: 1;
}
button:hover {
  color: white;
}

/* button:hover::before {
  transform: scaleX(1);
} */

/* button:hover {
  background-color: #f44336;
  color: white;
  border-radius: 30px;
  transform: scale(1.05);
  z-index: 1;
} */

.HarmondButton {
  font-family: "Harmond";
  padding-top: 10px;
}

.impactButton {
  /* padding-top: 5px; */
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.NeneMentanaButton {
  font-family: "NeneMentana";
}

.gillSansButton {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 100;
  /* letter-spacing: 0.1cap; */
  white-space: nowrap;
}

.gillSansBoldButton {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  white-space: nowrap;
}
